Document shape of event objects

While one can inspect the server response to a request, it really is a bit of a pain. It also lacks key explanatory information.

## Suggested notes to include
* What timezone are dates/times in? (I believe it's UTC)
* How do recurrence rules work?
* How are recurrence IDs determined? See #191

The second one is holding me up right now.

#190 refers to [RFC 5545 §3.3.10](https://tools.ietf.org/html/rfc5545#section-3.3.10) re recurrence rules. [§3.8.5.3](https://tools.ietf.org/html/rfc5545#section-3.8.5.3) gives more examples. The API documentation could refer to these.